<launch>
    <node pkg="magellan_motion" type="path_follower_node" name="path_follower">
        <param name="~lookahead_distance" type="double" value="0.5" />
        <param name="~lookahead_multiplier" type="double" value="2" />
        <param name="~discretization" type="double" value="0.01" />
        <param name="~max_vel" type="double" value="0.6" />
        <param name="~max_acc" type="double" value="0.2" />
        <param name="~turn_velocity_multiplier" type="double" value="1.0" />
    </node>
</launch>
