<launch>
    <node name="teensy_bridge" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0" />
    </node>

    <include file="$(find magellan_core)/launch/passive.launch" />
    
    <!-- <include file="$(find magellan_core)/launch/continuous_path.launch" /> -->
    
    <include file="$(find magellan_core)/launch/camera.launch" />
    <include file="$(find magellan_core)/launch/lidar.launch" />
    <include file="$(find magellan_core)/launch/planner.launch" />
</launch> 
